@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat');

html,body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin : 0;
  padding : 0;
}

#root{
  position:relative;
  height: 100%;
  width: 100%;
  padding-top: 56px;

  .chat{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;

    .messages{
      padding: 0px;
      float: left;
    }

    .messages{
      border-left: 1px solid #e9ebee;
      overflow:auto;

      .message{
        padding: 10px;
        display: block;
        min-height: 50px;
        height : auto !important;
        clear:both;

        .data{
          display: inline-block;
          float:left;
          margin-right: 10px;
        }
      }

      .no-message{
        margin: 10px;
      }
    }

    .chatbox {
      position:fixed;
      bottom: 0px;
      padding: 0px;
    }
  }
}

